# These files are text and should be normalized (convert crlf =&gt; lf)
*.cs      text diff=csharp
*.fs      text
*.xaml    text
*.csproj  text
*.sln     text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text
*.js      text
*.html    text
*.css     text
*.sql     text
*.json    text
*.config  text
*.targets text
*.asax    text
*.scss    text
*.pubxml  text
*.cshtml  text
*.sqlproj text
*.xml     text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.gif     binary
*.jpg     binary

*.sdf     binary
*.exe     binary
*.dll     binary
*.dacpac  binary