source https://nuget.org/api/v2

nuget FAKE
nuget Microsoft.AspNet.WebApi.WebHost
nuget Rx-Main
nuget FSharp.Control.Reactive
nuget WindowsAzure.Storage
nuget Microsoft.WindowsAzure.ConfigurationManager